<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./images/logo/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
    <script
      src="https://kit.fontawesome.com/4ea8c7073e.js"
      crossorigin="anonymous"
    ></script>
    <title>RecipeBox</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="./images/logo/logo.png" alt="img" />
        </a>
      </div>
      <div class="category">
        <a href="/">Explore</a>
        <a href="/">Trending</a>
        <a href="/">Create Recipe</a>
      </div>
      <form action="" class="searchbar">
        <input type="text" placeholder="Look for yummy recipes!" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </header>
    <div class="container">
      <div class="banner">
        <div class="trailer">
          <h1>Steak Frites</h1>
          <h2>
            "A classic French dish featuring a perfectly cooked steak and crispy
            French fries, often served with a flavorful sauce like Béarnaise."
          </h2>
          <a href="#Test">Check Out</a>
        </div>
        <div class="slideshow">
          <img src="./images/recipe/steak.jpg" alt="img" />
        </div>
      </div>
      <!-- end banner  -->
      <div class="creator">
        <div class="cards">
          <div class="owner">
            <div class="ownerimg">
              <img src="./images/owner/KwanJai.jpg" alt="img" />
            </div>
            <div class="ownerdetails">
              <h3>Kittipat Saiud</h3>
              <p>652110270</p>
            </div>
          </div>
          <!-- end owner -->
          <div class="owner">
            <div class="ownerimg">
              <img src="./images/owner/Lugie.jpg" alt="img" />
            </div>
            <div class="ownerdetails">
              <h3>Luca Gomis</h3>
              <p>652110300</p>
            </div>
          </div>
          <!-- end owner -->
          <div class="owner">
            <div class="ownerimg">
              <img src="./images/owner/KwaKwa.jpg" alt="img" />
            </div>
            <div class="ownerdetails">
              <h3>Prapanit Pajeekum</h3>
              <p>652110292</p>
            </div>
          </div>
          <!-- end owner -->
        </div>
        <!-- end cards -->
      </div>
      <!-- end creator  -->
      <div class="recipes_lists">
        <div class="optionsbar">
          <button type="submit">Spicy</button>
          <button type="submit">Non-spicy</button>
          <button type="submit">Vegetarian</button>
          <button type="submit">Vegan</button>
        </div>
        <!-- end optionsbar -->
        <div class="recipes_box">
          <div class="sidebar">
            <div class="type">
              <h2>Dish Type</h2>
              <a href="/">Breakfast</a>
              <a href="/">Lunch</a>
              <a href="/">Dinner</a>
              <a href="/">Appetizer</a>
              <a href="/">Salad</a>
              <a href="/">Main-course</a>
              <a href="/">Baked-goods</a>
              <a href="/">Dessert</a>
              <a href="/">Soup</a>
            </div>
            <!-- end type -->
            <div class="time">
              <h2>Time</h2>
              <div class="slider-container">
                <input
                  type="range"
                  min="0"
                  max="180"
                  value="30"
                  class="slider"
                  id="myRange"
                />
                <p><span id="sliderValue">30</span> min</p>
              </div>
              <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("sliderValue");

                slider.oninput = function () {
                  var value =
                    ((slider.value - slider.min) / (slider.max - slider.min)) *
                    100;
                  var color =
                    "linear-gradient(to right, #e23c34 0%, #e23c34 " +
                    value +
                    "%, #d3d3d3 " +
                    value +
                    "%, #d3d3d3 100%)";
                  slider.style.background = color;
                  output.innerHTML = this.value;
                };
              </script>
            </div>
            <!-- end time -->
            <div class="level">
              <h2>Level</h2>
              <div class="box">
                <div class="string">
                  <p>Easy</p>
                  <p>Medium</p>
                  <p>Hard</p>
                </div>
                <div class="icon">
                  <form action="/">
                     
                    <input
                      type="radio"
                      id="easy"
                      name="level"
                      value="easy"
                    /><br />
                     
                    <input
                      type="radio"
                      id="medium"
                      name="level"
                      value="medium"
                    /><br />
                      <input type="radio" id="hard" name="level" value="hard" />
                  </form>
                </div>
              </div>
            </div>
            <!-- end level -->
          </div>
          <!-- end sidebar -->
          <div class="recipes_cards">
            <div class="card">
              <div class="recipe_img">
                <img src="./images/recipe/steak.jpg" alt="img" />
              </div>
              <p>Steak&French fries</p>
              <button type="submit">Check Out</button>
            </div>
            <!-- end cards -->
            <div class="card">
              <div class="recipe_img">
                <img src="./images/recipe/steak.jpg" alt="img" />
              </div>
              <p>Steak&French fries</p>
              <button type="submit">Check Out</button>
            </div>
            <!-- end cards -->
            <div class="card">
              <div class="recipe_img">
                <img src="./images/recipe/steak.jpg" alt="img" />
              </div>
              <p>Steak&French fries</p>
              <button type="submit">Check Out</button>
            </div>
            <!-- end cards -->
            <div class="card">
              <div class="recipe_img">
                <img src="./images/recipe/steak.jpg" alt="img" />
              </div>
              <p>Steak&French fries</p>
              <button type="submit">Check Out</button>
            </div>
            <!-- end cards -->
            <div class="card">
              <div class="recipe_img">
                <img src="./images/recipe/steak.jpg" alt="img" />
              </div>
              <p>Steak&French fries</p>
              <button type="submit">Check Out</button>
            </div>
            <!-- end cards -->
            <div class="card">
              <div class="recipe_img">
                <img src="./images/recipe/steak.jpg" alt="img" />
              </div>
              <p>Steak&French fries</p>
              <button type="submit">Check Out</button>
            </div>
            <!-- end cards -->
          </div>
          <!-- recipes_cards -->
        </div>
        <!-- end recipes_box -->
      </div>
      <!-- end recipes_lists -->

      <div class="end_banner">
        <h2>
          "You've been trying to find a recipe, but you can't seem to find it in
          Recipe Box? Tell us!"
        </h2>
        <button type="submit">Request recipe</button>
      </div>
    </div>
    <!-- end container -->
  </body>
  <footer>
    <div class="slo_1">
      <p>Make us a part of your lifestyle</p>
      <p>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
      </p>
    </div>
    <div class="slo_2">
      <p>A taste of home in every dish</p>
    </div>
  </footer>
</html>
