:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 50px;
  padding: 0;
  background: #f4efdc;
}

/* header */
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  background: #f4efdc;
  transition: all ease 0.5s;
  padding: 5px 30px 5px 30px;
}
header .logo img {
  display: flex;
  align-items: center;
  width: 90px;
}

header .category {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 30%;
}

header .category a {
  text-decoration: none;
  color: #e23c34;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #e23d3400;
  transition: 0.3s ease, color 0.3s ease;
}

header .category a:hover {
  text-decoration: none;
  color: #e23c34;
  background-color: #fdee82;
  border: 1px solid #e23c34;
  border-radius: 30px;
  padding: 10px;
  transition: 0.3s ease;
}

header .searchbar {
  background: #fff;
  display: flex;
  border-radius: 60px;
}
header .searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 15px;
  height: 40px;
  margin-left: 10px;
}

.searchbar ::placeholder {
  color: #ababab;
}

.searchbar button i {
  width: 30px;
  height: 30px;
  background: #e23c34;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #e23c34;
  transition: 0.3s ease, color 0.3s ease;
}

.searchbar button {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
}

.searchbar button:hover i {
  background-color: #fdee82;
  color: #e23c34;
  border: 1px solid #e23c34;
}
/* header */

.container {
  background-color: #fff;
  margin-top: 100px;
  color: #e23c34;
}

.container .recipe_name {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.category .top_banner {
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_banner .type_cir{
  background-color: #fdee82;
  width: 150px;
  height: 150px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 210px;
  right: 75%;
}
.top_banner .slideshow {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 100px 20px 100px;
}
.top_banner .slideshow img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.bottom_banner {
  background-color: darkred;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom_banner .time{
  background-color: rgb(0, 255, 55);
} 
.time .type_cir {
  background-color: #fdee82;
}
.time img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.bottom_banner .ingredients {
  background-color: aqua;
}

/*footer*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: #e23c34;
  display: flex;
  justify-content: space-between;
  background-color: #f4efdc;
  transition: all ease 0.5s;
  padding: 30px 0 30px 0;
}

footer .slo_1 {
  text-align: left;
}

footer .slo_2 {
  text-align: center;
  width: 150px;
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f4efdc;
}
::-webkit-scrollbar-thumb {
  background: #e23c34;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fdee82;
  border: 1px solid #e23c34;
}
