:root {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 50px;
    padding: 0;
    background: #f4efdc;
}

/*------------------------------ nav bar --------------------------------*/
header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    background: #f4efdc;
    transition: all ease 0.5s;
    padding: 5px 30px 5px 30px;
}

header .logo img {
    display: flex;
    align-items: center;
    width: 90px;
}

header .category {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 30%;
}

header .category a {
    text-decoration: none;
    color: #e23c34;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #e23d3400;
    transition: 0.3s ease, color 0.3s ease;
}

header .category a:hover {
    text-decoration: none;
    color: #e23c34;
    background-color: #fdee82;
    border: 1px solid #e23c34;
    border-radius: 30px;
    padding: 10px;
    transition: 0.3s ease;
}

header .searchbar {
    background: #fff;
    display: flex;
    border-radius: 60px;
}

header .searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 15px;
    height: 40px;
    margin-left: 10px;
}

.searchbar ::placeholder {
    color: #ababab;
}

.searchbar button i {
    width: 30px;
    height: 30px;
    background: #e23c34;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #e23c34;
    transition: 0.3s ease, color 0.3s ease;
}

.searchbar button {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}

.searchbar button:hover i {
    background-color: #fdee82;
    color: #e23c34;
    border: 1px solid #e23c34;
}

/*------------------------------ form --------------------------------*/
.container{
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .top_name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 130px 130px 0 130px;
    color: #e23c34;
    
}

.container .section_1 {
    margin-top: 20px;
    padding: 20px 0;
    border-top: #e23c34 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    color: #e23c34;

}

.container .section_1 input{
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    outline: none;
}

.container .section_1 input::placeholder{
    color: #ababab;
}

.container .section_1 textarea{
    width: 500px;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    outline: none;
    resize: none;
}

.container .section_1 h2{
    margin: 10px 0;
}

.container .section_1 textarea::placeholder {
    color: transparent;
}

.container .section_2, 
.container .section_3, 
.container .section_4,
.container .section_5 {
    margin-top: 20px;
    padding: 20px 0;
    border-top: #e23c34 1px solid;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    color: #e23c34;
}

.container .section_2 input, .container .section_5 input{
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 0;
    outline: none;

}

.container .section_2 input::placeholder, .container .section_5 input::placeholder{
    color: #ababab;
}

.container .section_2 .typeingre, .typedirec{
    display: flex;
    align-items: center;
}

.container .section_2 .typeingre i, .typedirec i{ 
    color: #ababab
}

.container .section_2 button, .container .section_3 button{
    background-color: #e23c34;
    color: #fff;
    border: #e23c34 2px solid;
    border-radius: 100px;
    padding: 10px;
    transition: .3s;
    text-align: center;
    margin: 10px 0;
    width: 15%;
}

.container .section_2 button:hover, .container .section_3 button:hover{
    background-color: #fdee82;
    color: #e23c34;
    border: #e23c34 2px solid;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}

.container .section_2 h2, h3{
    margin: 10px 0;
}

.container .section_3 textarea{
    width: 500px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    border: 0;
    outline: none;
    resize: none;
}

.container .section_3 textarea::placeholder {
    color: transparent;
}

.container .section_4{
    display: flex;
    flex-wrap: wrap;
}

.container .section_4 .selectBox{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container .section_4 .selectBox input{
    width: 50px;
    height: 30px;
    margin: 10px;
    border: 0;
    text-align: center;
    outline: none;
}

.container .section_4 .selectBox input::placeholder{
    color: #ababab;
    cursor: pointer;
}

.container .section_4 .selectBox select{
    width: 150px;
    height: 30px;
    margin: 10px;
    border: 0;
    outline: none;
    border: #fff 2px solid;
    cursor: pointer;
}

.container .section_4 .selectBox select:hover {
    background-color: #fff;
    color: #e23c34;
    border: #e23c34 2px solid;
    transition: .3s;
}

.container .section_4 .selectBox select option {
    background-color: #ffffff;
    color: #333;
    padding: 5px;
    outline: none;

}

.container .section_4 label{
    margin-left: 10px;
}

.container .section_5 h2{
    margin-bottom: 10px;
}

.section_6 .save-button{
    background-color: #fff;
    color: #e23c34;
    border: #e23c34 2px solid;
    border-radius: 100px;
    padding: 10px;
    transition: .3s;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.section_6 .save-button:hover{
    background-color: #fdee82;
    color: #e23c34;
    border: #e23c34 2px solid;
    border-radius: 100px;
}

.section_6 .cancel-button{
    background-color: #e23c34;
    color: #fff;
    border: #e23c34 2px solid;
    border-radius: 100px;
    padding: 10px;
    transition: .3s;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.section_6 .cancel-button:hover{
    background-color: #fdee82;
    color: #e23c34;
    border: #e23c34 2px solid;
    border-radius: 100px;
}

.section_6{
    text-align: right;
}